<a href="https://colab.research.google.com/github/Sasidhar-Sunkesula/FML_LAB/blob/main/Cross_Validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from numpy import mean
from numpy import absolute
from numpy import sqrt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [ ]:
#loading the dataset
data = pd.read_csv("/content/Company_data.csv")
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [ ]:
X = data.drop('Sales', axis=1).values
y = data['Sales'].values

In [ ]:
x_tv = X[:, 0]

In [ ]:
x_tv = x_tv.reshape(-1,1)
y = y.reshape(-1, 1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_tv,y,test_size=0.2,random_state=42)

In [ ]:
lm = LinearRegression()

In [ ]:
folds = KFold(n_splits = 5, shuffle = True, random_state = 100)
scores = cross_val_score(lm, X_train, y_train, scoring='neg_mean_squared_error',cv=folds)
sqrt(mean(absolute(scores)))

2.2565669707801552

In [ ]:
df = pd.read_csv("/content/archive (4).zip")
df.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [ ]:
x = df.drop('Profit', axis=1).values
y1 = df['Profit'].values
X=df.select_dtypes(include=np.number)

In [ ]:
# Split dataset into training set and test set
from sklearn.model_selection import train_test_split
X_train1,X_test1,y_train1,y_test1=train_test_split(X,y1,test_size=0.2,random_state=42)

In [ ]:
model = LinearRegression()

In [ ]:
fold = KFold(n_splits = 5, shuffle = True, random_state = 1)
score = cross_val_score(model,X_train1,y_train1,scoring='neg_mean_squared_error',cv=folds)
sqrt(mean(absolute(score)))

2.9503857530621854e-11